html, body {padding: 0; margin: 0; background-color: #e4e4e4; color: #4c4c4c; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal;}
label {color: #4c4c4c; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 16px;}
input {width: 300px; height: 30px; padding: 0 10px; font-style: italic; border: 1px solid #9e9e9e;}
a {text-decoration: none; color: #4c4c4c;}
select {height: 40px; line-height: 40px; margin-top: 5px; padding: 5px;}
textarea {width: 300px; padding: 10px; min-height: 20px; font-style: italic; border: 1px solid #9e9e9e; transition: .3s; resize: none;}

#exit:hover, #logo a:hover, .headerText:hover {color: #000;}
.menuPoint:hover {background-color: #d6d6d6; color: #000;}

#loginContainer {margin: 200px auto auto auto; background-color: #fff; box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.4); width: 320px; padding: 20px;}
#loginSubmit {width: 100%;}
#exit {position: absolute; top: 0; right: 30px; color: #4c4c4c; cursor: pointer; transition: .3s;}
#logo {position: absolute; top: 0; left: 60px; color: #4c4c4c; cursor: pointer; transition: .3s; font-size: 20px; font-weight: bold;}
#logo > a {transition: .3s;}
#topLine {background-color: #fff; width: 100%; height: 60px; text-align: center; line-height: 60px;}
#leftMenu {background-color: #fff; width: 220px; display: inline-block; box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.4);}
#content {display: inline-block; background-color: #fff; padding: 20px; box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.4); vertical-align: top; margin: 40px auto auto 40px;}

.button {height: 30px; width: auto; border: none; background-color: #dedede; color: #4c4c4c; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; cursor: pointer; padding: auto 5px; transition: .3s; margin: 0 auto;}
.menuPoint {width: 200px; text-align: center; height: 40px; line-height: 40px; transition: .3s; padding: 10px;}
.headerText {font-size: 24px; transition: .3s;}
.headerFont {font-size: 24px;}
.active {background-color: #d6d6d6; color: #000;}