*::-webkit-input-placeholder, *:-moz-placeholder, *::-moz-placeholder, *:-ms-input-placeholder {color: #666; opacity: 1;}

html, body {margin: 0; padding: 0; overflow-x: hidden;}

body input:focus:required:invalid, body textarea:focus:required:invalid {}
body input:required:valid, body textarea:required:valid {}
body {font-family: "RobotoRegular", sans-serif; font-size: 16px;}

header {width: 100%; padding-top: 20px; text-align: center;}
a {text-decoration: none;}
ul.menu, ul.submenu {list-style-type: none; z-index: 3;}
ul.menu > li > a {display: block; padding-top: 10px; padding-bottom: 10px; text-decoration: none;}
ul.submenu {opacity: 0; position: absolute; margin-left: -40px; transition: .3s;}
ul.submenu > li, ul.menu > li:hover > ul.submenu {opacity: 1;}
ul.submenu > li > a {display: block; padding: 10px; font-size: 12px;}
menu {width: 100%; text-align: center;}
section {width: 65%; margin: 50px auto auto auto;}
footer {width: 100%; text-align: center; margin: 40px auto; font-family: 'Didact Gothic', sans-serif; color: #474747; font-size: 14px;}
footer a {color: #474747; text-decoration: none; transition: .3s;}

.menuFont:hover {color: #787878;}
.sliderLinkFont:hover, footer a:hover, .smallFont:hover {color: #e0c1ac;}
#instafeed a img:hover {opacity: .7;}

#slider, #gallery-slider {width: 100%; overflow: hidden; position: relative;}
#subMenu {background-color: transparent; display: inline-block; position: absolute; transition: .3s; z-index: 3; border: 1px solid red;}
#sliderLinks {position: absolute; top: 0; left: 0; width: 100%; z-index: 3;}
#allReviewsButton {height: 50px; line-height: 50px; border: none; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; width: 480px; background-color: #457bdf; color: #fff; font-family: 'Lora', serif; font-size: 22px; text-transform: uppercase; letter-spacing: 0.1em; cursor: pointer; transition: .3s;}
#instafeed a img {transition: .3s; opacity: 1;}

.headerFont {font-family: 'Lora', serif; font-size: 28px; color: #474747; letter-spacing: 1px; transition: .3s;}
.thinFont {font-family: 'Poiret One', cursive; font-size: 32px; color: #474747; transition: .3s;}
.menuFont {font-family: 'Didact Gothic', sans-serif; font-variant: small-caps; letter-spacing: 4px; color: #373737; font-size: 14px; cursor: pointer; transition: .3s;}
.menuPoint {display: inline-block;}
.menuDot {display: inline-block; padding-left: 25px; padding-right: 25px; position: relative; color: #373737; font-size: 4px; vertical-align: middle;}
.slide, .gallery-slide {position: absolute; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 1; -webkit-transition: opacity 1s; -moz-transition: opacity 1s; -o-transition: opacity 1s; transition: opacity 1s;}
.slide img, .gallery-slide img {width: 100%;}
.showing {opacity: 1; z-index: 2;}
.subMenuLine {width: 100%; padding: 5px; margin-top: 1px; background-color: #fff;}
.menu {margin: 0 auto; padding: 0;}
.descriptionFont {font-size: 24px; color: #474747; font-family: 'Playfair Display', serif;}
.sliderLinkSection {width: 50%; float: left; text-align: center; padding-top: 10%;}
.sliderLinkFont {font-family: 'Playfair Display', serif; font-size: 46px; text-transform: uppercase; letter-spacing: 0.05em; color: #fff; transition: .3s;}
.bigSection {width: 95%; margin: 50px auto auto auto;}
.sectionHeader {width: 100%; text-align: center;}
.line {width: 10%; height: 1px; display: inline-block; vertical-align: middle; background: url(/img/system/blackDot.png) repeat-x;}
.sectionName {padding-left: 10px; padding-right: 10px; text-transform: uppercase; color: #262626; font-family: 'Didact Gothic', sans-serif; font-size: 24px; letter-spacing: 4px; display: inline-block;}
.mainReview {width: 33%; display: inline-block; vertical-align: top;}
.mainReview > img {width: 40%;}
.mainReviewHeaderFont {font-family: 'Open Sans', sans-serif; color: #262626; font-size: 20px;}
.mainReviewText {padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; background-color: #fafafa; font-family: 'Arimo', sans-serif; font-size: 15px; color: #474747; text-align: justify; line-height: 1.5; width: 85% !important; margin: 0 auto;}
.quarterBlock {width: 20%; display: inline-block; vertical-align: top; margin-left: 20px; margin-bottom: 20px;}
.quarterBlock > img {width: 30%;}
.serviceBlock {width: 90%; border-bottom: 1px dashed #474747; margin: 0 auto 40px auto; padding-bottom: 20px;}
.servicePhotoBlock {width: 25%; float: left;}
.serviceTextBlock {width: 70% !important; padding: 15px; background-color: #fafafa;  float: right; font-family: 'Arimo', sans-serif; font-size: 15px; color: #474747; text-align: justify; line-height: 1.5;}
.serviceBlock img {width: 100%;}
.serviceFont {font-family: "Didact Gothic", sans-serif; color: #262626; font-size: 20px; letter-spacing: 2px;}
.smallFont {font-family: 'Didact Gothic', sans-serif; color: #474747; font-size: 14px; transition: .3s;}