*::-webkit-input-placeholder, *:-moz-placeholder, *::-moz-placeholder, *:-ms-input-placeholder {color: #666; opacity: 1; font-family: "Didact Gothic", sans-serif; font-size: 12px; letter-spacing: 2px;}

html, body {margin: 0; padding: 0; overflow-x: hidden;}

body input:focus:required:invalid, body textarea:focus:required:invalid {}
body input:required:valid, body textarea:required:valid {}
body {font-family: "RobotoRegular", sans-serif; font-size: 16px;}

header {width: 100%; padding-top: 20px; text-align: center;}
a {text-decoration: none;}
ul.menu, ul.submenu {list-style-type: none; z-index: 3;}
ul.menu > li > a {display: block; padding-top: 10px; padding-bottom: 10px; text-decoration: none;}
ul.submenu {opacity: 0; position: absolute; margin-left: -40px; transition: .3s;}
ul.submenu > li, ul.menu > li:hover > ul.submenu {opacity: 1;}
ul.submenu > li > a {display: block; padding: 10px; font-size: 12px;}
menu {width: 100%; text-align: center; display: block;}
section {width: 65%; margin: 50px auto auto auto;}
footer {width: 100%; text-align: center; margin: 70px auto 40px auto; font-family: 'Didact Gothic', sans-serif; color: #474747; font-size: 14px;}
footer a {color: #474747; text-decoration: none; transition: .3s;}

.menuFont:hover, .sideMenuPoint:hover, .submenuFont:hover {color: #787878;}
.sliderLinkFont:hover, footer a:hover, .smallFont:hover, #scroll:hover, #mobileMenu:hover, #about a:hover, .third a:hover, .tagFont:hover, .openFont:hover, .blogButton:hover, .postTagFont:hover, .shareLine:hover, .shareLine a:hover, .postHeader a:hover, .lightFont a:hover, .directionButton:hover, .directionButtonFont:hover {color: #e0c1ac;}
.like:hover, .lightFont .like:hover {color: #b21c1c;}
#instafeed a img:hover {opacity: .7;}
#reviewSubmit:hover, #messageSubmit:hover {border: 1px solid #e0c1ac !important; background-color: #e0c1ac;}

#slider, #gallery-slider {width: 100%; overflow: hidden; position: relative;}
#subMenu {background-color: transparent; display: inline-block; position: absolute; transition: .3s; z-index: 3;}
#sliderLinks {position: absolute; top: 0; left: 0; width: 100%; z-index: 3;}
#allReviewsButton {height: 50px; line-height: 50px; border: none; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; width: 480px; background-color: #457bdf; color: #fff; font-family: 'Lora', serif; font-size: 22px; text-transform: uppercase; letter-spacing: 0.1em; cursor: pointer; transition: .3s;}
#instafeed a img {transition: .3s; opacity: 1; width: 16%; margin-left: 1%;}
#scroll {display: none; position: fixed; bottom: 20px; right: 30px; z-index: 99; cursor: pointer; color: #474747; transition: .3s;}
#sideMenu {background-color: #fff; width: 300px; z-index: 3; position: absolute; right: 0; top: 0; display: none;}
#menuContent {width: 100%; text-align: center; margin-top: 90px;}
#newReviewButtonContainer {position: absolute; right: 100px; margin-top: 40px;}
#newReviewButton {width: 300px; height: 50px; border: 1px solid #e6e6e6; background-color: #fff; transition: .3s; color: #000; text-transform: uppercase; font-size: 12px; font-family: "Didact Gothic", sans-serif; cursor: pointer;}
#photoInput {width: 80%; height: 30px; padding: 15px 10px 5px 10px; border: 1px solid #a9a9a9; cursor: pointer; font-family: "Didact Gothic", sans-serif; font-size: 12px; letter-spacing: 2px;}
#reviewForm input, #reviewForm textarea, #messageForm input, #messageForm textarea {font-family: "Didact Gothic", sans-serif; color: #474747; font-size: 12px; width: 100%; border: none; border-bottom: 1px solid #a9a9a9; padding-top: 10px; padding-bottom: 10px; margin-bottom: 10px;}
#reviewForm textarea, #messageForm textarea {resize: none; padding-bottom: 0;}
#reviewPhotoInput {border: none !important;}
#reviewSubmit, #messageSubmit {border: 1px solid #a9a9a9 !important; cursor: pointer; background-color: #fff; color: #474747; transition: .3s; padding-top: 20px !important; padding-bottom: 20px !important;}
#slogan {font-family: "Playfair Display", serif; font-size: 3em; color: #464553; float: left; display: inline-block; width: 48%; vertical-align: top; text-align: left;}
#about {float: right; display: inline-block; width: 45%; vertical-align: top; text-align: left;}
#aboutHeader {width: 100%; text-align: center;}
#about p, #about ul li {text-align: justify; font-family: "Didact Gothic", sans-serif; color: #474747; letter-spacing: 2px; line-height: 2.5; font-size: 13px;}
#about h3 {font-family: "Didact Gothic", sans-serif; font-size: 16px; color: #474747; letter-spacing: 1px;}
#about a {font-weight: bold; color: #d19166; transition: .3s;}
#prevIcon, #nextIcon {transition: .3s;}

.headerFont {font-family: 'Lora', serif; font-size: 28px; color: #474747; letter-spacing: 1px; transition: .3s;}
.thinFont {font-family: 'Poiret One', cursive; font-size: 32px; color: #474747; transition: .3s;}
.menuFont {font-family: 'Didact Gothic', sans-serif; font-variant: small-caps; letter-spacing: 4px; color: #373737; font-size: 14px; cursor: pointer; transition: .3s;}
.submenuFont {font-family: 'Didact Gothic', sans-serif; color: #373737; font-size: 12px; cursor: pointer; transition: .3s; font-variant: normal; text-transform: none;}
.menuPoint {display: inline-block;}
.menuDot {display: inline-block; padding-left: 25px; padding-right: 25px; position: relative; color: #373737; font-size: 4px; vertical-align: middle;}
.slide, .gallery-slide {position: absolute; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 1; -webkit-transition: opacity 1s; -moz-transition: opacity 1s; -o-transition: opacity 1s; transition: opacity 1s;}
.slide img, .gallery-slide img {width: 100%;}
.showing {opacity: 1; z-index: 2;}.subMenuLine {width: 100%; padding: 5px; margin-top: 1px; background-color: #fff;}
.menu {margin: 0 auto; padding: 0;}
.descriptionFont {font-size: 24px; color: #474747; font-family: 'Playfair Display', serif;}
.sliderLinkSection {width: 50%; float: left; text-align: center; padding-top: 10%;}
.sliderLinkFont {font-family: 'Playfair Display', serif; font-size: 46px; text-transform: uppercase; letter-spacing: 0.05em; color: #fff; transition: .3s;}
.bigSection {width: 95%; margin: 50px auto auto auto;}
.sectionHeader {width: 100%; text-align: center;}
.line {width: 10%; height: 1px; display: inline-block; vertical-align: middle; background: url(/img/system/blackDot.png) repeat-x;}
.blogLine {width: 5%; height: 1px; display: inline-block; vertical-align: middle; background: url(/img/system/greyDot.png) repeat-x;}
.sectionName {padding-left: 10px; padding-right: 10px; text-transform: uppercase; color: #262626; font-family: 'Didact Gothic', sans-serif; font-size: 24px; letter-spacing: 4px; display: inline-block;}
.mainReview {width: 33%; display: inline-block; vertical-align: top;}
.mainReview > img {width: 40%;}
.mainReviewHeaderFont {font-family: 'Open Sans', sans-serif; color: #262626; font-size: 20px;}
.mainReviewText {padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; background-color: #fafafa; font-family: 'Arimo', sans-serif; font-size: 15px; color: #474747; text-align: justify; line-height: 1.5; width: 85% !important; margin: 0 auto;}
.quarterBlock {width: 20%; display: inline-block; vertical-align: top; margin-left: 20px; margin-bottom: 20px;}
.quarterBlock > img {width: 30%;}
.serviceBlock {width: 90%; border-bottom: 1px dashed #474747; margin: 0 auto 40px auto; padding-bottom: 20px;}
.servicePhotoBlock {width: 25%; float: left;}
.serviceTextBlock {width: 70% !important; padding: 15px; background-color: #fafafa;  float: right; font-family: 'Arimo', sans-serif; font-size: 15px; color: #474747; text-align: justify; line-height: 1.5;}
.serviceBlock img {width: 100%;}
.serviceFont {font-family: "Didact Gothic", sans-serif; color: #262626; font-size: 20px; letter-spacing: 2px;}
.smallFont {font-family: 'Didact Gothic', sans-serif; color: #474747; font-size: 14px; transition: .3s;}
.mobile {color: #474747; transition: .3s; position: absolute; top: 25px; right: 30px; font-size: 24px; cursor: pointer; display: none;}
.sideMenuPoint {font-family: "Didact Gothic", sans-serif; text-transform: uppercase; color: #474747; font-size: 16px; margin-top: 10px; cursor: pointer;}
.mobileSubmenuPoint {font-family: "Didact Gothic", sans-serif; text-transform: uppercase; color: #474747; font-size: 16px; margin-top: 10px; cursor: pointer;}
.sideSubmenu {display: none;}
.remodal input {width: 80%; padding: 5px 10px; height: 30px; border: 1px solid #a9a9a9; font-family: "Didact Gothic", sans-serif; font-size: 12px; letter-spacing: 2px;}
.remodal textarea {width: 80%; padding: 5px 10px; min-height: 150px; resize: none; border: 1px solid #a9a9a9; font-family: "Didact Gothic", sans-serif; font-size: 12px; letter-spacing: 2px;}
.remodal h1 {font-family: "Didact Gothic", sans-serif; text-transform: uppercase; color: #474747; font-size: 16px; letter-spacing: 2px;}
.remodal {font-family: "Didact Gothic", sans-serif;}
.notifyjs-corner, .notifyjs-wrapper {z-index: 9999999 !important;}
.reviewContainer {width: 100%; margin-bottom: 120px;}
.reviewPhoto {display: inline-block; width: 30%; text-align: center; vertical-align: top;}
.review {display: inline-block; width: 68%;}
.reviewPhoto img {width: 100%; max-width: 300px !important;}
.reviewHeader h1 {font-family: "Didact Gothic", sans-serif; color: #474747; font-size: 20px; letter-spacing: 2px;}
.reviewHeader {width: 100%; text-align: center;}
.review p {font-family: "Didact Gothic", sans-serif; color: #474747; font-size: 14px; letter-spacing: 1px; line-height: 2;}
.third {display: inline-block; width: 30%; vertical-align: top; text-align: center; font-family: "Didact Gothic", sans-serif; font-size: 14px; letter-spacing: 2px; color: #474747;}
.third strong {font-size: 16px;}
.third a {transition: .3s; color: #474747;}
.galleryPhoto {width: 90%;}
.galleryPhotoContainer {width: 100%; text-align: center;}
.galleryTextContainer {width: 80%; margin: 0 auto;}
.tagFont{font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; color: #000; font-size: 14px; transition: .3s;}
.postHeader {width: 100%; text-align: center; font-family: "Didact Gothic", sans-serif; font-size: 24px;}
.blogDate {padding-left: 10px; padding-right: 10px; color: #4c4c4c; font-family: 'Didact Gothic', sans-serif; font-size: 14px; letter-spacing: 1px; display: inline-block;}
.blogDescription {font-family: "Open Sans", sans-serif; font-size: 14px; text-align: justify; width: 100%; margin-bottom: 40px;}
.blogMainPhoto {width: 100%; text-align: center; padding-bottom: 40px;}
.openFont {font-family: 'Didact Gothic', sans-serif; font-size: 14px; text-transform: uppercase; color: #4c4c4c; transition: .3s;}
.separator {width: 100%; height: 1px; background: url(/img/system/greyDot.png) repeat-x;}
.blogButtons {display: inline-block; width: 28%; text-align: left; color: #4c4c4c; font-family: 'Didact Gothic', sans-serif; font-size: 14px; margin-bottom: 40px; float: left;}
.blogTags {display: inline-block; width: 69%; text-align: right; color: #4c4c4c; font-family: 'Didact Gothic', sans-serif; font-size: 14px; float: right;}
.like, .blogButton {transition: .3s; cursor: pointer;}
.blogButtons a, .postHeader a, .lightFont a, .lightFont .like {color: #4c4c4c; transition: .3s;}
.postTagFont {color: #4c4c4c; font-family: "Didact Gothic", sans-serif; font-size: 14px; transition: .3s;}
.likesCount {transition: .1s;}
.shareButtonBlock {position: relative; float: left; margin-right: 10px;}
.shareBlock {transition: .3s; padding: 10px; border: 1px solid #c2c2c2; opacity: 0; position: absolute; background-color: #fff; width: 160px; font-size: 14px;}
.shareLine {width: 100%; padding: 5px; transition: .3s; color: #4c4c4c; cursor: pointer;}
.shareIcon {display: inline-block; width: 25px; text-align: center; vertical-align: top; float: left;}
.shareName {display: inline-block; margin-left: 10px; text-align: left; font-family: "Didact Gothic", sans-serif; text-transform: uppercase;vertical-align: top; letter-spacing: 1px; float: left;}
.blogSmallPhoto {display: inline-block; width: 32%; margin-right: 1%; margin-bottom: 20px; vertical-align: top;}
.blogFont {color: #4c4c4c; font-family: "Open Sans", sans-serif; font-size: 16px;}
.lightFont {color: #c2c2c2;}
.directionButton {font-family: "Didact Gothic", sans-serif; font-size: 16px; color: #4c4c4c; transition: .3s; text-transform: uppercase; letter-spacing: 1px;}