/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* For menu */
@media only screen and (max-width : 1220px) {
    menu {display: none;}
    header {margin-bottom: 30px;}

    #mobileMenu {display: block;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #slogan, #about {display: block; width: 100%;}
    #about {margin-top: 40px;}
    #slogan, #slogan > div {text-align: center !important;}

    .mainReview > img {width: 300px;}
    .mainReview {width: 90%; margin-bottom: 40px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .quarterBlock {width: 45%; display: inline-block; vertical-align: top; margin-left: 20px;}
    .quarterBlock > img {width: 50%;}
    .serviceTextBlock {width: 100%; float: none; margin: 20px auto auto auto;}
    .servicePhotoBlock {width: 100%; text-align: center; float: none;}
    .servicePhotoBlock img {width: 50%;}
    .serviceBlock {width: 100%;}
    .reviewContainer {text-align: center; border-bottom: 1px dashed #e6e6e6; padding-bottom: 40px; margin-bottom: 40px;}
    .review p {text-align: left;}
    .review, .reviewPhoto {display: block; margin: 0 auto; width: 95%;}
    .third {display: block; width: 100%; margin-bottom: 30px;}
    .blogSmallPhoto2, .blogSmallPhoto3, .blogSmallPhoto4 {width: 100%; margin: auto auto 20px auto;}
    .blogButtons {width: 38%;}
    .blogTags {width: 59%;}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    #allReviewsButton {height: 50px; line-height: 50px; border: none; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; width: 90%; background-color: #457bdf; color: #fff; font-family: 'Lora', serif; font-size: 80%; text-transform: uppercase; letter-spacing: 0.1em; cursor: pointer; transition: .3s;}
    #newReviewButtonContainer {right: auto; left: 50%; margin-left: -150px;}
    #menuHeaderText {margin-top: 10px;}
    #slogan p {font-size: .6em; padding-bottom: 20px;}

    .quarterBlock {width: 90%; display: inline-block; vertical-align: top; margin-left: 20px;}
    .sliderLinkFont {font-size: 1.5em;}
    .headerFont {font-size: 1em;}
    .thinFont {font-size: 1em;}
    .blogButtons {width: 51%;}
    .blogTags {width: 46%;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .mainReview > img {width: 80%; margin-left: 0;}
    .blogButtons {width: 100%;}
    .blogTags {width: 100%; text-align: left; padding-bottom: 40px; margin-top: -25px;}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}